body {
    background-image: url(img/back-bg.jpg);
    /* background-image: url(img/web-icon.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
}

#wrap {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#back {
    width: 1200px;
    height: 700px;
    /* position: fixed; */
    border: 1px solid blue;

    background-image: url(img/web-none.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#bg_img {
    width: 90%;
}

.icon_box {
    margin-left: 55px;
}

.icon {
    width: 5%;
    /* height: 30px; */
    position: relative;
    display: inline-block;
    border: 1px solid red;
    top: 450px;
    margin-right: 15px;
}

.icon img {
    width: 100%;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 10px;
    width: 100%;
    font-size: 10pt;
    color: #aaaaaa;
    text-align: center;
}



@media (max-width: 1500px){
}

@media (max-width: 1024px){ 
}

@media all and (max-width: 770px) {
    body {
        background-image: url(img/android-none.jpg);
        border: 1px solid green;
    }

    #back {
        width: 100%;
        height: 300px;
        border: 1px solid green;
    
        background-image: none;
    }
}

@media all and (max-width: 385px) {
    body {
        background-image: url(img/ios-none.jpg);
        border: 1px solid orange;
    }

    #back {
        width: 100%;
        height: 300px;
        border: 1px solid orange;
        background-image: none;
    }

    .icon_box {
        margin-left: 45px;
    }

    .icon {
        width: 10%;
        border: 1px solid red;
        top: 230px;
    }
}

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) { 

}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) { 

}

/* 모바일 가로, 테블릿 (해상도 480px ~ 767px)*/
@media all and (min-width:480px) and (max-width:767px) { 
}

/* 모바일, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) { 
    
}